.display-tiles {
    width: 60px;
    height: 60px;
    font-size: 20px;
    border: 1px solid #aaa;
    text-align: center;
    padding: 10px;
    float: left;
    cursor: pointer;
}

.display-tiles:hover{
    border: 1px solid #f00;
    transform: scale(1.05);
    background-color: #f0f0f0;
}
